# Revised:   2021.04.28                               
#            [ RuleBased-Security-Lab example ]
# -----------------------------------------------
#  [1] Chapter 10. Managing Services with systemd Red Hat Enterprise Linux 7 | 
#      Red Hat Customer Portal. (n.d.). Retrieved April 2, 2021, from 
#      https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/chap-managing_services_with_systemd
# -----------------------------------------------


service.description = Node to Node Responder FMS
service.order       = 2b
init.level          = 1
run.level           = 3
service.name        = n2nr
service.group       = Basal
service.enable      = 1
