# Revised:   2021.04.28                               
#            [ RuleBased-Security-Lab example ]

service.description = Agent RB-Expert System Capabilities
service.order       = 15
init.level          = 0
run.level           = 0
service.name        = acpb
service.group       = Basal
service.enable      = 0
